registration_workflow_updated.json
{
  "updatedAt": "2026-01-23T11:53:35.029Z",
  "createdAt": "2026-01-17T22:07:57.444Z",
  "id": "2WKzb93sJnfLO1Bv",
  "name": "Bloom AI Registration",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register",
        "options": {},
        "responseMode": "lastNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        832,
        368
      ],
      "webhookId": "register"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "16ae5358-46dd-4846-b2fb-2c1f56bd596d",
          "mode": "list",
          "cachedResultName": "Brand Profiles Database",
          "cachedResultUrl": "https://www.notion.so/16ae535846dd4846b2fb2c1f56bd596d"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name|title",
              "title": "={{ $json.body.username }}"
            },
            {
              "key": "Email|email",
              "emailValue": "={{ $json.body.email }}"
            },
            {
              "key": "Caption Generated At|date"
            },
            {
              "key": "Password|rich_text",
              "textContent": "={{ $json.body.password }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-notion-page",
      "name": "Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.1,
      "position": [
        1040,
        368
      ],
      "credentials": {
        "notionApi": {
          "id": "jNP7bHIu6NZaobB0",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true, \"message\": \"User registered successfully\"}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1264,
        368
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "executionOrder": "v0"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "8b8773c3-2c93-46d9-aec0-07159422b089",
  "activeVersionId": "8b8773c3-2c93-46d9-aec0-07159422b089",
  "versionCounter": 18,
  "triggerCount": 1,
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-23T11:53:35.030Z",
    "createdAt": "2026-01-23T11:53:35.030Z",
    "versionId": "8b8773c3-2c93-46d9-aec0-07159422b089",
    "workflowId": "2WKzb93sJnfLO1Bv",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "register",
          "options": {},
          "responseMode": "lastNode"
        },
        "id": "webhook-trigger",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          832,
          368
        ],
        "webhookId": "register"
      },
      {
        "parameters": {
          "resource": "databasePage",
          "databaseId": {
            "__rl": true,
            "value": "16ae5358-46dd-4846-b2fb-2c1f56bd596d",
            "mode": "list",
            "cachedResultName": "Brand Profiles Database",
            "cachedResultUrl": "https://www.notion.so/16ae535846dd4846b2fb2c1f56bd596d"
          },
          "propertiesUi": {
            "propertyValues": [
              {
                "key": "Name|title",
                "title": "={{ $json.body.username }}"
              },
              {
                "key": "Email|email",
                "emailValue": "={{ $json.body.email }}"
              },
              {
                "key": "Caption Generated At|date"
              },
              {
                "key": "Password|rich_text",
                "textContent": "={{ $json.body.password }}"
              }
            ]
          },
          "options": {}
        },
        "id": "create-notion-page",
        "name": "Notion",
        "type": "n8n-nodes-base.notion",
        "typeVersion": 2.1,
        "position": [
          1040,
          368
        ],
        "credentials": {
          "notionApi": {
            "id": "jNP7bHIu6NZaobB0",
            "name": "Notion account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"success\": true, \"message\": \"User registered successfully\"}",
          "options": {}
        },
        "id": "respond-success",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          1264,
          368
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Notion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Notion": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Emanule Serra",
    "name": null,
    "description": null,
    "autosaved": false
  }
}