unified_workflow.json
{
    "name": "Bloom AI Unified Auth",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "auth",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                460,
                360
            ],
            "webhookId": "auth"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.mode }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "login"
                        },
                        {
                            "value2": "register"
                        }
                    ]
                }
            },
            "id": "switch-mode",
            "name": "Switch Mode",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                680,
                360
            ]
        },
        {
            "parameters": {
                "resource": "databasePage",
                "databaseId": {
                    "__rl": true,
                    "value": "16ae5358-46dd-4846-b2fb-2c1f56bd596d",
                    "mode": "list",
                    "cachedResultName": "Brand Profiles Database",
                    "cachedResultUrl": "https://www.notion.so/16ae535846dd4846b2fb2c1f56bd596d"
                },
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "key": "Name|title",
                            "title": "={{ $json.body.username }}"
                        },
                        {
                            "key": "Email|email",
                            "emailValue": "={{ $json.body.email }}"
                        },
                        {
                            "key": "Password|rich_text",
                            "textContent": "={{ $json.body.password }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "create-user",
            "name": "Create User",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.1,
            "position": [
                940,
                480
            ],
            "credentials": {
                "notionApi": {
                    "id": "jNP7bHIu6NZaobB0",
                    "name": "Notion account"
                }
            }
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "getAll",
                "databaseId": {
                    "__rl": true,
                    "value": "16ae5358-46dd-4846-b2fb-2c1f56bd596d",
                    "mode": "list",
                    "cachedResultName": "Brand Profiles Database",
                    "cachedResultUrl": "https://www.notion.so/16ae535846dd4846b2fb2c1f56bd596d"
                },
                "filterType": "manual",
                "matchType": "all",
                "filters": {
                    "conditions": [
                        {
                            "key": "Name|title",
                            "condition": "equals",
                            "title": "={{ $('Webhook').item.json.body.username }}"
                        }
                    ]
                },
                "options": {
                    "alwaysOutputData": true
                }
            },
            "id": "get-user",
            "name": "Get User",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2.1,
            "position": [
                940,
                240
            ],
            "credentials": {
                "notionApi": {
                    "id": "jNP7bHIu6NZaobB0",
                    "name": "Notion account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Run for ALL items to find one match\nconst webhookBody = $('Webhook').item.json.body;\nconst targetPassword = webhookBody.password ? webhookBody.password.toString().trim() : '';\n\nlet authorized = false;\nlet foundUser = null;\nlet reason = 'User not found';\n\n// Loop through all items returned by Notion\nfor (const item of items) {\n  const notionItem = item.json;\n  \n  if (!notionItem.id) continue;\n\n  let storedPassword = '';\n\n  // STRATEGY 1: N8N Simplified Mode (Prefix 'property_')\n  if (notionItem['property_password']) {\n      storedPassword = notionItem['property_password'];\n  }\n  // STRATEGY 2: Flattened regular (e.g. notionItem.Password)\n  else if (notionItem['Password']) {\n      storedPassword = notionItem['Password'];\n  }\n  // STRATEGY 3: Nested Properties\n  else if (notionItem.properties && notionItem.properties.Password) {\n      if (notionItem.properties.Password.rich_text && notionItem.properties.Password.rich_text.length > 0) {\n          storedPassword = notionItem.properties.Password.rich_text[0].plain_text;\n      } else if (typeof notionItem.properties.Password === 'string') {\n          storedPassword = notionItem.properties.Password;\n      }\n  }\n\n  const cleanStored = storedPassword ? storedPassword.toString().trim() : '';\n\n  // Compare\n  if (cleanStored === targetPassword) {\n    authorized = true;\n    foundUser = notionItem;\n    break;\n  } else {\n     reason = 'Invalid Username or Password';\n  }\n}\n\nif (authorized) {\n  return [{ json: { authorized: true, user: foundUser } }];\n} else {\n  return [{ json: { authorized: false, reason: reason } }];\n}"
            },
            "id": "validate-user",
            "name": "Validate User",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1120,
                240
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.authorized }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "check-auth",
            "name": "If Authorized",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1300,
                240
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"message\": \"Login successful\",\n  \"username\": \"{{ $json.user.property_username || $json.user.property_name }}\"\n}",
                "options": {}
            },
            "id": "respond-success",
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1500,
                360
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"message\": \"{{ $json.reason || 'Login failed' }}\"\n}",
                "options": {
                    "responseCode": 401
                }
            },
            "id": "respond-error",
            "name": "Respond Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1500,
                140
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Switch Mode",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Mode": {
            "main": [
                [
                    {
                        "node": "Get User",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Create User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create User": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get User": {
            "main": [
                [
                    {
                        "node": "Validate User",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate User": {
            "main": [
                [
                    {
                        "node": "If Authorized",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Authorized": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}